version: 1
task_timeout: 10000
task_backlog: 3
connections: 
  redis: 
    options: {}
    deflate: false
    namespace: 'test'
    servers: [
        '127.0.0.1:6380'
      ]
    
  mongo: 
    options: 
      auto_reconnect: true
      
    servers: [
        '127.0.0.1:27018'
      ]
    
    empty: []
components: 
  http_dispatcher: 
    url: 'http://localhost:1337'
    
  integrity: 
    origins: [
        'tests'
      ]
    names: [
        'test-event'
      ]
    
  transformation: 
    aggregation_delay: 500
